Repository JerTheFox/bytefox_homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_all, deploy_mgmt, deploy_worker, deploy_backup

.gitlab-ci.yml:

image: willhallonline/ansible:latest

variables:
  ANSIBLE_FORCE_COLOR: 'true'
  ANSIBLE_CONFIG: ansible.cfg
  ANSIBLE_VAULT_PASSWORD_FILE: $ANSIBLE_VAULT_PASSWORD

stages:
  - deploy

# ==================================================
# НАСТРОЙКА ОКРУЖЕНИЯ
# ==================================================
.setup_env_template: &setup_env
  before_script:
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - if [ -z "$SSH_PRIVATE_KEY" ]; then echo "MISSING SSH_PRIVATE_KEY"; exit 1; fi
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed25519
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config

# ==================================================
# FULL DEPLOY
# ==================================================
deploy_all:
  stage: deploy
  <<: *setup_env
  script:
    - echo "Запуск полного обновления инфраструктуры..."
    - ansible-playbook playbooks/site.yml
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - ansible.cfg
        - .gitlab-ci.yml
        - playbooks/site.yml
        - inventory/**/*
        - roles/common/**/*
        - roles/deploy_stack/**/*

# ==================================================
# NODE DEPLOY
# ==================================================

deploy_mgmt:
  stage: deploy
  <<: *setup_env
  script:
    - echo "Обновляем только Management Node..."
    - ansible-playbook playbooks/site.yml --limit mgmt
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - roles/mgmt/**/* # Логика роли Mgmt
        - templates/mgmt/**/* # Шаблоны Mgmt
        - files/traefik_dynamic/**/* # Статика для Mgmt
        - files/prometheus_config/**/*
        - files/vpn_build/**/*
        - files/glance_config/**/*
        - files/loki_config/**/*
        - files/grafana_provisioning/**/*

deploy_worker:
  stage: deploy
  <<: *setup_env
  script:
    - echo "Обновляем только Worker Node..."
    - ansible-playbook playbooks/site.yml --limit worker
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - roles/worker/**/* # Логика роли Worker
        - templates/worker/**/* # Шаблоны Worker
        - files/obsidian_publisher/**/*

deploy_backup:
  stage: deploy
  <<: *setup_env
  script:
    - echo "Обновляем только Backup Node..."
    - ansible-playbook playbooks/site.yml --limit backup
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - roles/backup/**/* # Логика роли Backup
        - templates/backup/**/* # Шаблоны Backup

readme update
  .gitlab-ci.yml
  README.md
  inventory/group_vars/all/vault.example.yml
  templates/promtail-config.yml.j2
Due: deploy_all

license deploy
  LICENSE
Due: none

obsidian publisher update
  files/obsidian_publisher/script.py
Due: deploy_worker

obsidian publisher title header fix
  files/obsidian_publisher/script.py
Due: deploy_worker

mc srv tuning
  playbooks/site old.yml
  templates/mgmt/glance.yml.j2
  templates/promtail-config.yml.j2
  templates/worker/docker-compose.yml.j2
Due: deploy_mgmt, deploy_worker

readme update
  README.md
Due: none

env edit
  inventory/group_vars/all/vars.yml
Due: deploy_all

glance vars
  README.md
  templates/mgmt/glance.yml.j2
Due: deploy_mgmt
